.breadcrumbs_area .bredcrumbs_inner{
    border-bottom: 1px solid #e0e0e0;
}
.breadcrumbs_area .breadcrumb{
    background: transparent;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0px;
}
.breadcrumbs_area .breadcrumb a{
    color: #888888;
}
.breadcrumbs_area .breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #eaeaea;
    content: "|";
}
.breadcrumbs_area .breadcrumb-item.active {
    color: #333333;
    font-weight: bold;
}


/*****************************************
        BLOG POST PAGE      
******************************************/
.blog_post_area{
    padding-bottom: 50px;
}
.blog_post_left{}
.blog_post_left h2{
    font-size: 28px;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0px 15px;
}
.blog_post_left p{
    font-size: 14px;
    color: #888888;
    font-family: 'Lato', sans-serif;
    margin-bottom: 25px;
}
.blog_post_left p span{
    color: #333333;
}
.blog_post_left p.b_italic{
    font-size: 18px;
    color: #333333;
    font-family: 'Lato', sans-serif;
    padding: 25px 0px;
    font-style: italic;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
}
.blog_post_left p.p_bold{
    font-weight: bold;
    color: #333333;
}
.autor_box{
    position: relative;
    padding: 25px 0px 18px;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
}
.autor_box img{
    position: absolute;
    top: 25px;
    left: 0;
}
.autor_box p{
    padding-left: 90px;
    margin-bottom: 8px;
}
.blog_pagination{
    margin: 50px 0px;
}
.blog_pagination{}
.blog_pagination .prev_post {
    width: 50%;
    float: left;
}
.blog_pagination .prev_post p{
    font-size: 14px;
    color: #888888;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
}
.blog_pagination .prev_post p i{
    margin-right: 15px;
}
.blog_pagination .prev_post h2{
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 0;
    transition: all  .3s;
    &:hover {
        color: $color1;
        transition: all  .3s;
    }
}
.blog_pagination .prev_post{}
.blog_pagination .next_post{
    text-align: right;
    border-left: 1px solid #e0e0e0;
}
.blog_pagination .next_post p i{
    margin-left: 15px;
    margin-right: 0;
}

/*---------------------------------------
        BLOG SIDEBAR AREA       
-----------------------------------------*/
.blog_sidebar {}
.blog_sidebar h2{
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    padding: 35px 0px 10px;
}
.blog_search_inner {
    position: relative;
    margin: 0 auto;
    border: 1px solid #e0e0e0;
    margin-top: 25px;
}
.blog_search_inner:after {
    position: absolute;
    top: 17px;
    right: 11px;
    background: url(/assets/media/images/blog/blog-search.png) no-repeat;
    content: "";
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.blog_search_inner input[type="text"],.blog_search_inner input[type="text"]:focus{
    height: 50px;
    outline: 0;
    border:0;
    box-shadow: none;
}
.blog_search_inner input[type="submit"],.blog_search_inner input[type="submit"]:focus{
    position: absolute;
    right: 0;
    top: 0;
    width: 47px;
    font-size: 16px;
    background: transparent;
    border: 0;
    height: 48px;
    color: #fff;
    border-radius: 5px;
    text-align: left;
    padding-left: 0;
    outline: 0;
    border: 0;
    box-shadow: none;
}
.blog_category{
    margin: 0;
    padding: 0;
    list-style: none;
    padding-bottom: 35px;
    border-bottom: 1px solid #e0e0e0;
}
.blog_category li{}
.blog_category li a{
    display: block;
    font-size: 14px;
    color: #333333;
    font-family: 'Lato', sans-serif;
    padding: 2px 0px;
    transition: all  .3s;
    &:hover {
        color: $color1;
        transition: all  .3s;
    }
}
.blog_category li a {
    span {
        color: #888888;
        float: right;
        transition: all  .3s;
    }
    &:hover {
        span {
            color: $color1;
            transition: all  .3s;
        }
    }
}
.blog_category li a span{}
.popular_post_inner{
    position: relative;
    margin-bottom: 25px;
}
.popular_post_inner img{
    position: absolute;
    top: 0px;
    left: 0;
}
.popular_post_inner h1{
    padding-left: 90px;
    margin-bottom: 8px;
    line-height: 13px;
    position: relative;
    top: -7px;


}
.popular_post_inner h1 a{
    font-weight: bold;
    color: #333333;
    font-size: 14px;
    transition: all  .3s;
    &:hover{
        color: $color1;
        transition: all  .3s;
    }
}
.popular_post_inner p{
    padding-left: 90px;
    color: #888888;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}
.popular_post_inner{}
.recent_post{
    margin: 0;
    padding: 0;
    list-style: none;
}
.recent_post li{}
.recent_post li a{
    color: #333333;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    padding: 2px 0px;
    font-weight: bold;
    display: block;
    transition: all  .3s;
    &:hover{
        color: $color1;
        transition: all  .3s;
    }
}
.recent_post li a i{
    margin-right: 15px;
}



/*****************************************
        BLOG INDEX PAGE      
******************************************/
.blog_index_area{}
.blog_index_area .blog_post_left > img{
    margin-top: 25px;
}
.read_more{
    padding-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
}
.read_more > a{
    font-size: 13px;
    color: #333333;
    font-weight: bold;
    float: left;
    transition: all  .3s;
    &:hover{
        color: $color1;
        transition: all  .3s;
    }
}
.read_more > a i{
    margin-left: 10px;
}
.blog_comment{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px 0px;
    transition: all  .3s;
    &:hover{
        color: $color1;
        transition: all  .3s;
    }
}
.blog_comment a{
    color: #888888;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    margin-left: 10px;
}
.blog_comment a i{
    margin-right: 3px;
}
.blog_comment{}
.blog_index_wrapper{
    margin: 30px 0px;
    border-bottom: 1px solid #e0e0e0;
}
.blog_index_wrapper{}
.blog_index_content{}
.blog_index_content .b_author{
    margin-bottom: 0;
}
.blog_index_content .read_more{
    border-bottom: 0px solid #eaeaea;
}
.blog_index_content {

}
.blog_index_content h2{
    font-size: 16px;
    margin-top: 10px;
    a {
        transition: all  .3s;
        &:hover{
            color: $color1;
            transition: all  .3s;
        }
    }
}

.read_more {
    transition: all  .3s;
    &:hover{
        color: $color1;
        transition: all  .3s;
    }
}


.blog_paginate .pagination{
    text-align: center;
    display: block;
}
.blog_paginate .pagination li{
    display: inline-block;
}
.blog_paginate .pagination li.page-item .page-link {
    position: relative;
    display: block;
    padding: 6px 13px;
    margin-left: 3px;
    line-height: 1.25;
    color: #888888;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    &:focus {
        outline: 0;
        box-shadow: none;

    }
}
.blog_paginate .pagination li.page-item.active .page-link {
    color: #000;
    border: 1px solid $color1;
}


.second-toolbar #logo {
    display: none;
}

/* COMMENT BOX */
.comment_box {
    margin-bottom: 20px;
}
.all_comment {
    margin-bottom: 20px;
}
.all_comment h2{
    font-size: 15px;
    margin-bottom: 0;
}
.all_comment p{
    margin-bottom: 15px;
}
.all_comment .comment_text {
    background: #f5f5f5;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 3px;
}
.all_comment .reply_comment{
    padding-left: 30px;
}
.all_comment p.comment_text{}
.all_comment p.time{
    margin-bottom: 10px;
    font-size: 11px;
}
.comment_box input,
.comment_box input:focus{
    outline: 0;
    box-shadow: none;
    border: 1px solid #ced4da;
}
.comment_box textarea,
.comment_box textarea:focus{
    outline: 0;
    box-shadow: none;
    border: 1px solid #ced4da;
}
.blog_submit{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.blog_submit button{
    background: $color1;
    color: #fff;
    padding: 5px 30px;
    transition: all .3s;
    &:hover {
        opacity: .8;
        transition: all .3s;
        color: #fff;
    }
    &:focus {
        outline: 0;
        box-shadow: none;
    }
}

.blog_post_area ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 16px;
    color: #666;
}
.blog_post_area ::-moz-placeholder { /* Firefox 19+ */
    font-size: 16px;
    color: #666;
}
.blog_post_area :-ms-input-placeholder { /* IE 10+ */
    font-size: 16px;
    color: #666;
}
.blog_post_area :-moz-placeholder { /* Firefox 18- */
    font-size: 16px;
    color: #666;
}

@media( min-width: 1200px) {
    .blog_container {
        max-width: 1400px;
    }
}

@media( max-width: 768px) {
    .blog_container {
        .no-padding-left {
            padding-left: 15px;
        }
        .no-padding-right {
            padding-right: 15px;
        }
    }
}